#navSearchInput input[type=text] {
  width: 600px !important;
}

#configInput input[type=number] {
  width: 10px !important;
}

.table {
  table-layout: fixed !important;
}

.table td {
  white-space: nowrap !important;
  overflow: scroll !important;
  /*text-overflow: scroll !important;*/
}

/*
.data-table#transactions-table {
  font-size: 12px; !important;
}
*/
/*
.container {
  margin-right: 5%;
  margin-left: 5%;
}
*/
