<!DOCTYPE html>
<html>

<head>

    {{template "head"}}

</head>

<body>

{{template "navBar"}}

<div class="clr"></div>

<section>
    <div class="container">
        <div class="table-title">
            <h3>Block {{.Hash}}</h3>
        </div>
        <div class="data-table" id="block-table">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 30%;">Hash</th>
                    <td><a href="{{.UrlLevel}}/block/{{.Hash}}">{{.Hash}}</a></td>
                </tr>
                <tr>
                    <th>Previous Block</th>
                    <td><a href="{{.UrlLevel}}/block/{{.PrevHash}}">{{.PrevHash}}</a></td>
                </tr>
                <th>Timestamp</th>
                <td>{{.TimeString}}</td>
                </tr>
                <tr>
                    <th>Merkle Root</th>
                    <td>{{.MerkleRoot}}</td>
                </tr>
                <tr>
                    <th>Beneficiary</th>
                    <td>{{.Beneficiary}}</td>
                </tr>
                <tr>
                    <th>Seed</th>
                    <td>{{.Seed}}</td>
                </tr>
                <tr>
                    <th>Hashed Seed</th>
                    <td>{{.HashedSeed}}</td>
                </tr>
                <tr>
                    <th>FundsTX ({{.NrFundsTx}})</th>
                    <td>[{{range .FundsTxData}}
                        <a href="../../tx/funds/{{.}}">{{.}}</a>
                        {{end}}]
                    </td>
                </tr>

                <tr>
                    <th>AccTx ({{.NrAccTx}})</th>
                    <td>[{{range .AccTxData}}
                        <a href="../../tx/acc/{{.}}">{{.}}</a>
                        {{end}}]
                    </td>
                </tr>

                <tr>
                    <th>ConfigTx ({{.NrConfigTx}})</th>
                    <td>[{{range .ConfigTxData}}
                        <a href="../../tx/config/{{.}}">{{.}}</a>
                        {{end}}]
                    </td>
                </tr>

                <tr>
                    <th>StakeTx ({{.NrStakeTx}})</th>
                    <td>[{{range .StakeTxData}}
                        <a href="../../tx/stake/{{.}}">{{.}}</a>
                        {{end}}]
                    </td>
                </tr>

                <tr>
                    <th>UpdateTx ({{.NrUpdateTx}})</th>
                    <td>[{{range .UpdateTxData}}
                        <a href="../../tx/update/{{.}}">{{.}}</a>
                        {{end}}]
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>


</body>
{{template "scriptImports"}}
</html>
