<!DOCTYPE html>
<html>

  <head>

    {{template "head"}}

  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
        <div class="table-title">
          <h3>Latest System Configuration Transactions</h3>
        </div>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th style="width: 10%;">Id</th>
                <th style="width: 10%;">Payload</th>
                <th style="width: 10%;">Fee</th>
                <th style="width: 10%;">TxCount</th>
              </tr>
            </thead>
            <tbody>
              {{range .Txs}}
              <tr>
                <td> <a href="../../tx/config/{{.Hash}}">{{.Hash}}</a></td>
                <td>{{.Id}}</td>
                <td>{{.Payload}}</td>
                <td>{{.Fee}}</td>
                <td>{{.TxCount}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </body>
{{template "scriptImports"}}
</html>
