<!DOCTYPE html>
<html>

  <head>

    {{template "head"}}

  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
        <div class="table-title">
          <h3>Transaction {{.Hash}}</h3>
        </div>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 30%;">Hash</th>
                <td> <a href="{{.UrlLevel}}/tx/funds/{{.Hash}}">{{.Hash}}</a></td>
              </tr>
              <tr>
                <th>Block</th>
                <td> <a href="{{.UrlLevel}}/block/{{.BlockHash}}">{{.BlockHash}}</a></td>
              </tr>
              <tr>
                <th>From</th>
                <td> <a href="{{.UrlLevel}}/account/{{.From}}">{{.From}}</a></td>
              </tr>
              <tr>
                <th>To</th>
                <td> <a href="{{.UrlLevel}}/account/{{.To}}">{{.To}}</a></td>
              </tr>
              <tr>
                <th>Transaction Count</th>
                <td>{{.TxCount}}</td>
              </tr>
              <tr>
                <th>Amount</th>
                <td>{{.Amount}}</td>
              </tr>
                <th>Fee</th>
                <td>{{.Fee}}</td>
              </tr>
              <tr>
                <th>Signature</th>
                <td>{{.Signature}}</td>
              </tr>
            </thead>

          </table>
        </div>
      </div>
    </section>

    {{template "scriptImports"}}

  </body>
</html>
