<!DOCTYPE html>
<html>

  <head>

    {{template "head"}}

  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
          <h3>Latest Blocks</h3>
        <div class="data-table" id="block-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th style="width: 20%;">Timestamp</th>
                <th style="width: 10%;">NrFundsTX</th>
                <th style="width: 10%;">NrAccTX</th>
                <th style="width: 10%;">NrConfigTX</th>
              </tr>
            </thead>
            <tbody>
              {{range .Blocks}}
              <tr>
                <td> <a href="{{.UrlLevel}}/block/{{.Hash}}">{{.Hash}}</a></td>
                <td>{{.TimeString}}</td>
                <td>{{.NrFundsTx}}</td>
                <td>{{.NrAccTx}}</td>
                <td>{{.NrConfigTx}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <div class="clr"></div>

    <section>
      <div class="container">
          <h3>Latest Funds Transactions</h3>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th>From</th>
                <th>To</th>
                <th style="width: 10%;">Amount</th>
                <th style="width: 10%;">Fee</th>
              </tr>
            </thead>
            <tbody>
              {{range .Txs}}
              <tr>
                <td> <a href="tx/funds/{{.Hash}}">{{.Hash}}</a></td>
                <td> <a href="account/{{.From}}">{{.From}}</a></td>
                <td> <a href="account/{{.To}}">{{.To}}</a></td>
                <td>{{.Amount}}</td>
                <td>{{.Fee}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    {{template "scriptImports"}}

  </body>
</html>
