<!DOCTYPE html>
<html>

<head>

    {{template "head"}}

</head>

<body>

{{template "navBar"}}

<div class="clr"></div>

<div class="container">
    <h3>Logged Out!</h3>
</div>

{{template "scriptImports"}}

</body>
</html>
