<!DOCTYPE html>
<html>

  <head>

    {{template "head"}}

  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
        <div class="table-title">
          <h3>Latest Stake Transactions</h3>
        </div>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th>Account</th>
                <th>Is Staking</th>
                <th style="width: 10%;">Fee</th>
              </tr>
            </thead>
            <tbody>
              {{range .Txs}}
              <tr>
                <td> <a href="../../tx/funds/{{.Hash}}">{{.Hash}}</a></td>
                <td> <a href="../../account/{{.Account}}">{{.Account}}</a></td>
                <td>{{.IsStaking}}</td>
                <td>{{.Fee}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    {{template "scriptImports"}}

  </body>
</html>
