<!DOCTYPE html>
<html>

  <head>

    {{template "head"}}
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.1.0/css/anychart-ui.min.css" />

  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <div class="container">
      <div id="chartContainer" style="height:500px">
        <!-- Chart goes here-->
      </div>

      <p>Total Bazo Supply: {{.TotalSupply}}</p>
      <p>Total Bazo Accounts: {{.TotalNrAccounts}}</p>
      <p>Blocksize: {{.Parameters.BlockSize}}</p>
      <p>Difficulty Interval: {{.Parameters.DiffInterval}}</p>
      <p>Minimum Fee: {{.Parameters.MinFee}}</p>
      <p>Block Interval:{{.Parameters.BlockInterval}}</p>
      <p>Block Reward:{{.Parameters.BlockReward}}</p>

    </div>

    <div class="clr"></div>


    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-bundle.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-ui.min.js"></script>
    <script>
      anychart.onDocumentReady(function() {
        chart = anychart.line();
        var series = chart.spline(JSON.parse({{.ChartData}}));

        chart.title("12-Hour Transaction History");
        var xAxis = chart.xAxis();
        xAxis.title("Hour");
        var yAxis = chart.yAxis();
        chart.xScale().inverted(true);
        yAxis.title("Number of Transactions");

        chart.container("chartContainer");
        chart.draw();
      });
    </script>

  </body>
{{template "scriptImports"}}
</html>
