<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazo Explorer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>
    <section id="parameter-list">
      <div class="container">
        <h3>Change System Parameters</h3>
        <ul>
          <li>
            <h4>Current {{.BSName}}: {{.BlockSize}}</h4>
            <form class="config-form" action="/admin/blocksize" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-blocksize" placeholder="Change the {{.BSName}}">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          </li>
          <div class="clr"></div>
          <li>
            <h4>Current {{.DIName}}: {{.DiffInterval}}</h4>
            <form class="config-form" action="/admin/diffinterval" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-diffinterval" placeholder="Change the {{.DIName}}">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          </li>
          <div class="clr"></div>
          <li>
            <h4>Current {{.MFName}}: {{.MinFee}}</h4>
            <form class="config-form" action="/admin/minfee" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-minfee" placeholder="Change the {{.MFName}}">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          </li>
          <div class="clr"></div>
          <li>
            <h4>Current {{.BIName}}: {{.BlockInterval}}</h4>
            <form class="congif-form" action="/admin/blockinterval" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-blockinterval" placeholder="Change the {{.BIName}}">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          </li>
          <div class="clr"></div>
          <li>
            <h4>Current {{.BRName}}: {{.BlockReward}}</h4>
            <form class="config-form" action="/admin/blockreward" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-blockreward" placeholder="Change the {{.BRName}}">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </section>

  </body>
</html>
