<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazo Explorer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/newstyle.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
        <div class="table-title">
          <h3>Block {{.Hash}}</h3>
        </div>
        <div class="data-table" id="block-table">
          <table class="table">
            <thead>
              <tr>
                <th>Hash</th>
                <td> <a href="/block/{{.Hash}}">{{.Hash}}</a></td>
              </tr>
              <tr>
                <th>Previous Hash</th>
                <td> <a href="/block/{{.PrevHash}}">{{.PrevHash}}</a></td>
              </tr>
                <th>Timestamp</th>
                <td>{{.Timestamp}}</td>
              </tr>
              <tr>
                <th>Merkle Root</th>
                <td>{{.MerkleRoot}}</td>
              </tr>
              <tr>
                <th>Beneficiary</th>
                <td>{{.Beneficiary}}</td>
              </tr>
              <tr>
                <th>NrFundsTX</th>
                <td>{{.NrFundsTx}}</td>
              </tr>
              <tr>
                <th>NrAccTX</th>
                <td>{{.NrAccTx}}</td>
              </tr>
              <tr>
                <th>NrConfigTX</th>
                <td>{{.NrConfigTx}}</td>
              </tr>
              {{range .FundsTxData}}
              <tr>
                <th>Funds Transaction Hash</th>
                <td><a href="/transactions/funds/{{.}}">{{.}}</a></td>
              </tr>
              {{end}}
              {{range .AccTxData}}
              <tr>
                <th>Account Creation Transaction Hash</th>
                <td><a href="/transactions/acc/{{.}}">{{.}}</a></td>
              </tr>
              {{end}}
              {{range .ConfigTxData}}
              <tr>
                <th>System Configuration Transaction Hash</th>
                <td><a href="/transactions/config/{{.}}">{{.}}</a></td>
              </tr>
              {{end}}
            </thead>
          </table>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
