<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazo Explorer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  </head>
  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
        <div class="table-title">
          <h3>Latest Transactions (FundsTx)</h3>
        </div>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Fee</th>
              </tr>
            </thead>
            <tbody>
              {{range .}}
              <tr>
                <td> <a href="/transactions/fundtx/{{.Hash}}">{{.Hash}}</a></td>
                <td> <a href="/account/{{.From}}">{{.From}}</a></td>
                <td> <a href="/account/{{.To}}">{{.To}}</a></td>
                <td>{{.Amount}}</td>
                <td>{{.Fee}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </body>
</html>
