{{define "head"}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bazo Explorer</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<link rel="stylesheet" href="/static/css/newstyle.css">

{{end}}
