<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazo Explorer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  </head>
  <style media="screen">
  .footer {
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
  </style>
  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
          <h3>Latest Blocks</h3>
        <div class="data-table" id="block-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th>Timestamp</th>
                <th>NrFundsTX</th>
                <th>NrAccTX</th>
                <th>NrConfigTX</th>
              </tr>
            </thead>
            <tbody>
              {{range .Blocks}}
              <tr>
                <td> <a href="/block/{{.Hash}}">{{.Hash}}</a></td>
                <td>{{.Timestamp}}</td>
                <td>{{.NrFundTx}}</td>
                <td>{{.NrAccTx}}</td>
                <td>{{.NrConfigTx}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <div class="clr"></div>

    <section>
      <div class="container">
          <h3>Latest Transactions (FundsTx)</h3>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Fee</th>
              </tr>
            </thead>
            <tbody>
              {{range .Txs}}
              <tr>
                <td> <a href="/transactions/fundtx/{{.Hash}}">{{.Hash}}</a></td>
                <td> <a href="/account/{{.From}}">{{.From}}</a></td>
                <td> <a href="/account/{{.To}}">{{.To}}</a></td>
                <td>{{.Amount}}</td>
                <td>{{.Fee}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </body>
</html>
