<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazo Explorer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/newstyle.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>

    <section>
      <div class="container">
          <h3>Latest Blocks</h3>
        <div class="data-table" id="block-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th style="width: 15%;">Timestamp</th>
                <th style="width: 10%;">NrFundsTX</th>
                <th style="width: 10%;">NrAccTX</th>
                <th style="width: 10%;">NrConfigTX</th>
              </tr>
            </thead>
            <tbody>
              {{range .Blocks}}
              <tr>
                <td> <a href="/block/{{.Hash}}">{{.Hash}}</a></td>
                <td>{{.Timestamp}}</td>
                <td>{{.NrFundsTx}}</td>
                <td>{{.NrAccTx}}</td>
                <td>{{.NrConfigTx}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <div class="clr"></div>

    <section>
      <div class="container">
          <h3>Latest Funds Transactions</h3>
        <div class="data-table" id="transactions-table">
          <table class="table">
            <thead>
              <tr id="header-row">
                <th>Hash</th>
                <th>From</th>
                <th>To</th>
                <th style="width: 10%;">Amount</th>
                <th style="width: 10%;">Fee</th>
              </tr>
            </thead>
            <tbody>
              {{range .Txs}}
              <tr>
                <td> <a href="/transactions/funds/{{.Hash}}">{{.Hash}}</a></td>
                <td> <a href="/account/{{.From}}">{{.From}}</a></td>
                <td> <a href="/account/{{.To}}">{{.To}}</a></td>
                <td>{{.Amount}}</td>
                <td>{{.Fee}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
