<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazo Explorer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/newstyle.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  </head>

  <body>

    {{template "navBar"}}

    <div class="clr"></div>
    <section id="parameter-list">
      <div class="container">
        <h3>Change System Parameters</h3>
            <h5>Current {{.BSName}}: {{.BlockSize}} Bytes</h5>
            <form class="config-form" action="/admin/blocksize" method="post">
              <div class="input-group" id="configInput">
                <input class="form-control" type="number" name="new-blocksize" placeholder="Change the {{.BSName}} (in Bytes)">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          <div class="clr"></div>
            <h5>Current {{.DIName}}: {{.DiffInterval}} Blocks</h5>
            <form class="config-form" action="/admin/diffinterval" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-diffinterval" placeholder="Change the {{.DIName}} (Number of Blocks)">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          <div class="clr"></div>
            <h5>Current {{.MFName}}: {{.MinFee}} Bazo Coins</h5>
            <form class="config-form" action="/admin/minfee" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-minfee" placeholder="Change the {{.MFName}} (In Bazo Coins)">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          <div class="clr"></div>
            <h5>Current {{.BIName}}: {{.BlockInterval}} Seconds</h5>
            <form class="congif-form" action="/admin/blockinterval" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-blockinterval" placeholder="Change the {{.BIName}} (In Seconds)">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
          <div class="clr"></div>
            <h5>Current {{.BRName}}: {{.BlockReward}} Bazo Coins</h5>
            <form class="config-form" action="/admin/blockreward" method="post">
              <div class="input-group">
                <input class="form-control" type="number" name="new-blockreward" placeholder="Change the {{.BRName}} (In Bazo Coins)">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Set</button>
                </span>
              </div>
            </form>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
